<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- update your datamarket subscription parameters -->
    <add key="azureDatamarket.email" value="john@3-4.fr"/>
    <add key="azureDatamarket.Key" value="NhmfX2NKZauQBstyDGfgnBBQIsy137o1BfLwTJO+H+Y"/>
    
    <!-- remove this entry to create a new model in your subscription. You can do it only once per subscription. You may need to change the model name (RecommendationModel.MODEL_NAME) as well -->
    <add key="recommendationModel.id" value="40390b87-7b1e-40e8-ac5c-eb85bce6c516" />

    <!-- you can comment the following appSettingsonce files are imported -->
      <!--<add key="recommendationModel.catalog.path" value="..\..\..\..\data\ref-catalog.txt" />-->
      <!--<add key="recommendationModel.usage.path"   value="..\..\..\..\data\what-cats-like.txt" />-->

    <add key="recommendationModel.build" value="false" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>